// .portfolio-page2 {
//     // padding-left: 50px;
//     padding-right: 50px;
//     width: calc(100% - 150px);
//     position: initial;
//     height: 100%;
//     position: relative;
//     z-index: 10;

// }

//     .images-container {
//         display: flex;
//         gap: 30px;
//         flex-wrap: wrap;
//         padding-bottom: 100px;
//         justify-content: center;
//         // margin-left: 8%;
//         margin-top: 3%;
//         width: 100vw;
//     }

.portfolio-page2 {
    //padding-right: 50px;
    // width: calc(100% - 150px);
    //position: initial;
    height: 92vh;
    position: relative;
    z-index: 10;
    margin-top: 2%;
  }
  
  .images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display 3 columns */
    //gap: 93px;
    gap: 2%;
   // place-items: center;
    // padding-bottom: 100px;
    justify-content: center;
    padding: 6% 10%;
    //margin-top: 3%;
    width: 100%;
    height: 100vh;
    //margin-left: 17.5%;
    //place-items: center;
    //height: 100vh;
  }
  
  .image-box {
    // position: relative;
    // flex: 1 1 calc(25% - 1%); /* Adjusted the flex value and max-width */
    // height: 400px;
    // overflow: hidden;
    // border-radius: 10px;
    // margin-bottom: 1%;
    // max-width: calc(21% - 1%);
  
    position: relative;
    height: 600px;
    //overflow: hidden;
    border-radius: 10px;
    // margin-bottom: 1%;
    //max-width: calc(33.333% - 1%); /* Adjusted the max-width for 3 columns */
    width: 361px;
  
    .portfolio-image {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-top: "-30%";
    }
  
    .content {
      position: absolute;
      width: 100%;
      z-index: 3;
      display: grid;
      place-items: center;
      padding: 10px 3px;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      // background: linear-gradient(
      //     180deg,
      //     rgba(0, 0, 0, 0.2) 0,
      //     rgba(0, 0, 0, 1)
      // );
      //background: #000;
      // bottom: -70px;
      bottom: -37%;
      height: 34%;
      border: 1px solid #000;
      padding: 15px;
    }
  
    .title {
      margin-bottom: 3%;
      margin-top: 0;
      //   color: #fff;
      font-size: 1.9rem;
      font-weight: 500;
      line-height: 2.9rem;
    }
    .card-date {
      font-size: 1.2rem;
    }
  
    .description {
      font-size: 18px;
      margin-bottom: 5px;
      //   color: #fff;
      font-weight: 700;
    }
  
    .btn {
      // margin-top: 30px;
      margin-bottom: 10px;
      padding: 0 23px;
      height: 40px;
      line-height: 34px;
      //border: 2px solid #ffd700;
      border-radius: 4px;
      font-size: 14px;
      //color: #fff;
      background: transparent;
      text-transform: uppercase;
      font-weight: 700;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
      position: relative;
      z-index: 1000000000;
      border: 1px solid #000;
      //  background: #ffd700;
      font-size: 1.2rem;
      width: 100%;
    }
  
    .btn:hover {
      transform: translateY(-3px);
      background: #ffd700;
    }
  }
  
  .portfolio-titles {
    display: flex;
    flex-direction: column;
    // margin-left: 5.7%;
    padding: 0 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
  
    & h2 {
      color: #8d8d8d;
      font-weight: 400;
      font-size: 17px;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
      //margin-left: 8%;
      //margin-top: 12%;
      // margin-bottom: -6%;
      // margin-top: 10%;
  
      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in;
        transform: translateX(20px);
      }
    }
  }
  
  .page-title {
    // margin-left: 8%;
    margin-top: 7px;
    font-size: 4rem;
    //font-family: 'Coolvetica';
    //color: #ffd700;
    //  filter: drop-shadow(0 0 1px #ffd700) drop-shadow(0 0 0px #ffd700) contrast(2) brightness(2);
    //font-weight: 600;
    font-size: 70px;
  }
  
  /* Screen Width Breakpoints */
  @media screen and (max-width: 320px) {
    /* CSS rules for devices with a maximum width of 320 pixels */
  }
  
  @media screen and (min-width: 321px) and (max-width: 420px) {
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  
    .portfolio-page2 {
      height: 315vh;
    }
    .images-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 21%;
    }
    .image-box .portfolio-image {
      height: 50vh;
      margin-top: 0;
    }
    .image-box .content {
      bottom: -55px;
    }
    .image-box .portfolio-image {
      margin-top: 0;
    }
    .portfolio-page2 {
        //height: 160vh;
        margin-top: 22%;
        margin-bottom: 90%;
      }
  }


  @media screen and (min-width: 421px) and (max-width: 767px) {
    /* CSS rules for devices with widths between 321 pixels and 768 pixels */
  
    .portfolio-page2 {
      height: 315vh;
    }
    .images-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 21%;
    }
    .image-box .portfolio-image {
      height: 50vh;
      margin-top: 0;
    }
    .image-box .content {
      bottom: -95px;
    }
    .image-box .portfolio-image {
      margin-top: 0;
    }
    .portfolio-page2 {
        //height: 160vh;
        margin-top: 22%;
      }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    /* CSS rules for devices with widths between 769 pixels and 1024 pixels */
    .images-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5%;
      row-gap: 27%;
    }
    .portfolio-page2 {
      height: 160vh;
      margin-top: 12%;
    }
  
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    /* CSS rules for devices with a minimum width of 1025 pixels */
    .images-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      //gap: 5%;
      row-gap: 17%;
    }
    .portfolio-page2 {
      height: 190vh;
      margin-top: 4%;
      margin-bottom: 33%;
    }
  }


  @media screen and (min-width: 1441px) and (max-width: 1550px) {

.image-box {
  width: 300px;
  height: 450px;
  margin-bottom: 10%;
}

.content {
  height: 37%;
  bottom: -37%;
}

  }
  
  /* Orientation */
//   @media screen and (orientation: portrait) {
  
//     @media screen and (min-height: 650px) and (max-height: 668px) {
//       .image-box .content {
//         bottom: 80px;
//       }
//       .images-container {
//         gap: 0%;
//       }
//       .portfolio-page2 {
//         height: 360vh;
//       }
//     }
  
//     @media screen and (min-height: 700px) and (max-height: 738px) {
//       .image-box .content {
//         bottom: 50px;
//       }
//       .images-container {
//         gap: 0%;
//       }
//       .portfolio-page2 {
//         height: 330vh;
//       }
//     }
  
//     @media screen and (min-height: 880px) and (max-height: 900px) {
//       .portfolio-page2 {
//         height: 295vh;
//       }
//       .image-box .content {
//         bottom: -50px;
//       }
//     }
  
//     @media screen and (min-height: 902px) and (max-height: 928px) { 
//       .image-box .content {
//         bottom: -60px;
//       }
//       .images-container {
//         gap: 12%;
//       }
//       .portfolio-page2 {
//         height: 300vh;
//       }
  
//   }

//   @media screen and (min-height: 929px) and (max-height: 965px) { 
//     .image-box .content {
//       bottom: -70px;
//     }
//     .images-container {
//       gap: 12%;
//     }
//     .portfolio-page2 {
//       height: 300vh;
//     }

// }
  
  
//   @media screen and (min-height: 970px) and (max-height: 1028px) { 
//     .portfolio-page2 {
//       height: 165vh;
//     }
//   }
  

//   @media screen and (min-height: 1150px) and (max-height: 1180px) { 

//     .images-container {
    
//       row-gap: 25%;
//     }
//   }


//   @media screen and (min-height: 1300px) and (max-height: 1366px) { 
    
//   .images-container {
   
//     row-gap: 22%;
//   }
//   }



  
  
//   }
  
  @media screen and (orientation: landscape) {
    /* CSS rules for devices in landscape orientation */
  }
  