.contact-wrap {
    height: 69vh;
}

.wrap{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.box{
	font-size: 1.2em;
	line-height: 1.6em;
  text-align: center;
}
.contact-main-section {
  margin-top: 9%;
}
/*screen resolutions lower than 620px*/
@media all and (max-width: 1180px){
	.wrap{
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	}
}


#section h2{
	//margin-bottom: 50px;
  position: relative;
  display: block;
}
#section p a{
	color: #000;
  text-decoration: none;
}
#section .wrap {
	text-align: center;
	width: 100%;
}
#section .box{
	text-align: center;
	margin: 5% 0 0 0;
	width: 100%;
}

.contact-title {
  font-size: 4rem
}

.cont-sect {
  padding: 0% 10%;  margin-top: 12%
}

.contact-form {
  width: 100%;
  margin: 0 auto;
 // padding: 40px;
}
.contact-form .input-block {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #000;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .input-block.focus {
  
}
.contact-form .input-block.textarea {
  height: auto;
}
.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}
.contact-form .input-block label {
  position: absolute;
  left: 10px;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 400;
  z-index: 1;
  color: #aaa;
  font-size: 18px;
  line-height: 10px;
}
.contact-form .input-block .form-control {
  background-color: transparent;
  margin: 0;
  outline: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
    padding: 15px 10px;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
  font-size: 1.5rem;
}
.contact-form .input-block .form-control:focus label {
  top: 0;
}
.contact-form .square-button {
  background-color: #00B16A;
  color: #fff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: #66CC99;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  transform: translateY(-4px);
}


// Contact.scss

.input-block {
  position: relative;

  label {
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px; // Adjust the font size as needed
    margin-top: 5px; // Adjust the margin-top as needed
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }

    &::placeholder {
      font-size: 1.5rem; // Adjust the font size of the placeholder text
      margin-top: 5px; // Adjust the margin-top of the placeholder text
      color: #999;
     
    }
  }

  textarea {
    resize: vertical;
  }
}


@media screen and (min-width: 321px) and (max-width: 767px) { 
  .cont-sect{
    margin-bottom: 15%;
  }
  .contact-title {
    font-size: 3rem
  }

}







@media (min-width: 768px) {
  .contact-wrap {
    margin: auto;
  }
 
}
@media (max-width: 868px) {
	.contact-form {
	  width: 100%;
	  padding: 40px;
	}
}
@media (max-width: 568px) {
	.contact-form {
	  padding: 10px;
	}
}
/*----page styles---*/

.contact-wrap {
  padding: 15px;
  //background: #ecf0f1;
}
.contact-wrap h1 {
  background-color: white;
  color: #ff7c62;
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.contact-wrap h1 small {
  font-size: 18px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #ff7c62;
}


.contact-title {
  font-size: 4rem;
}

/* Screen Width Breakpoints */
@media screen and (max-width: 320px) { 
  /* CSS rules for devices with a maximum width of 320 pixels */ 

}

@media screen and (min-width: 321px) and (max-width: 767px) { 
  /* CSS rules for devices with widths between 321 pixels and 768 pixels */

  .contact-title {
    font-size: 2.2rem;
    margin-top:25%;
  }
  .contact-main-section {
    height: 100vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { 
  /* CSS rules for devices with widths between 769 pixels and 1024 pixels */ 
.contact-title {
  margin-top: 10%;
}
}

@media screen and (min-width: 1025px) and (max-width: 1440px){ 
  /* CSS rules for devices with a minimum width of 1025 pixels */ 

}

/* Orientation */
@media screen and (orientation: portrait) { 
  /* CSS rules for devices in portrait orientation */ 
}

@media screen and (orientation: landscape) { 
  /* CSS rules for devices in landscape orientation */ 
}